<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="#deb887">

<div align="center">
    <form method="post">
        <fieldset align="center" style="background-color: olivedrab; color: #ffffff; width: 30%">
            <legend><h1>Add</h1></legend>
            <h2>Name of your post:</h2>
            <p><label>
                <input style="background-color: beige" name="name" data-th-value="${item.name}" required>
            </label></p>

            <h2>Enter category:</h2>
            <p><label>
                <select style="background-color: beige" name="category" data-th-value="${item.category}">
                    <option name="message">message</option><!--Подумать над дефолтным параметром поиска-->
                    <option name="ad">ad</option>
                    <option name="wanted">wanted</option>
                    <option name="advertisement">advertisement</option>
                    <option name="need a help">need a help</option>
                    <option name="other">other</option>
                </select>
            </label>
            </p>
            <p><label>
                <textarea style="background-color: beige" name="content" data-th-value="${item.content}"></textarea>
            </label></p>
            <h2>Enter email adress:</h2>
            <p><input style="background-color: beige" name="email" data-th-value="${item.email}"
                      placeholder="example@email.com" required></p>
            <h2>Enter number:</h2>
            <p><input style="background-color: beige" name="number" data-th-value="${item.number}"
                      placeholder="79991112233"></p>
            <button style="background-color: burlywood; color: #ffffff;">Save</button>
        </fieldset>
    </form>
</div>

</body>
</html>